.character-big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-style {
  border: 5px solid #674747;
  margin: 10px;
}

.text-style {
  font-size: 25px;
}

.font{
  color: #674747;
  font-size: 35px;
}